name: Docker CI/CD with Security

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t my-web-app .

      - name: Run Trivy security scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: my-web-app
          severity: HIGH,CRITICAL

      - name: Docker image ready
        run: echo "Docker image successfully built and scanned!"
